<ion-view view-title="Accounts">
    <ion-content>
        <div class="row dash-top">
            <div class="col">
                <p></p> <b>Select Sale date</b> </p>
            </div>
            <div class="col">
                <input type="date" ng-model="dtoDate" class="dateInput">
            </div>
        </div>
        <div class="row dash-top">
            <div class="col">
                <label class="item-input-wrapper lbwhite">
                    <i class="icon ion-ios-search placeholder-icon"></i>
                    <input type="search" placeholder="Search sales list">
                  </label>
            </div>
        </div>
        <div class="list clist">
            <a class="item item-icon-right" ng-repeat="sale in salesList" href="#/app/accounts/{{cust.cid}}">
                <div class="cinfo" style="width:50%">
                    <p><b>{{sale.company}}</b></p>
                    <p>Items: {{sale.totalItems}}</p>
                    <p>Amount: {{sale.total}}</p>
                </div>
                <div class="cinfoLeft pull-right" style="width:40%">
                    <p class="conein paidAmt">Paid : {{sale.paid}}</p>
                    <p class="coneina balanceAmt">Balance: {{sale.balance}}</p>
                </div>
                <i class="icon ion-ios-arrow-right"></i>
            </a>
        </div>
    </ion-content>
</ion-view>