<ion-view view-title="Dashboard">
  <ion-content>
    <div class="row dash-top">
      <div class="col">
        <p class="text-center">
          <b> From</b>
        </p>
        <p>
          <input type="date" ng-model="fromDate" class="dateInput"> </p>
      </div>
      <div class="col">
        <p class="text-center">
          <b> To</b>
        </p>
        <p>
          <input type="date" ng-model="toDate"  class="dateInput"> </p>
      </div>
    </div>


    <!-- <button class="button button-block" ng-click="showToastMiddle()">Show Toast at top with close</button>
            
            <div class="list">
                
                  <label class="item item-input item-select">
                    <div class="input-label">
                      Lightsaber
                    </div>
                    <select>
                      <option>Today</option>
                      <option selected>Green</option>
                      <option>Red</option>
                    </select>
                  </label>
                
                </div> -->

    <div id="container" style="height: 400px"></div>
    <div id="container1"></div>
    <div id="container2"></div>
    <div id="container3"></div>
  </ion-content>
</ion-view>
