<ion-view view-title="Home">
    <ion-content class="bgcolor home">
        <div class="row text-center">
            <div class="col"></div>
            <a class="col text-center" href="#/app/dashboard">
                <p class="himgBox"><img ng-src="img/icons/dashboard.png"></p>
                <p class="hiconText">DASHBOARD</p>
            </a>
            <div class="col"></div>
          </div>
       <div class="row text-center">
        <a class="col" href="#/app/sales">
           <p class="himgBox"><img ng-src="img/icons/sales1.png"></p>
           <p class="hiconText">SALES</p>
        </a>
        <a class="col" href="#/app/products">
            <p class="himgBox"><img ng-src="img/icons/list.png"></p>
            <p class="hiconText">PRODUCTS</p>
        </a>
        <a class="col" href="#/app/customers">
            <p class="himgBox"><img ng-src="img/icons/group.png"></p>
            <p class="hiconText">Customers</p>
        </a>
      </div>
      <div class="row text-center">
          <a class="col"  href="#/app/customers">
             <p class="himgBox"><img ng-src="img/icons/mobile-purchase.png"></p>
             <p class="hiconText">PURCHASE</p>
          </a>
          <a class="col"  href="#/app/customers">
              <p class="himgBox"><img ng-src="img/icons/conversation.png"></p>
              <p class="hiconText">VENDORS</p>
          </a>
          <a class="col"  href="#/app/customers">
              <p class="himgBox"><img ng-src="img/icons/stock.png"></p>
              <p class="hiconText">STOCK</p>
          </a>
        </div>
        <div class="row text-center">
            <a class="col"  href="#/app/customers">
               <p class="himgBox"><img ng-src="img/icons/coin.png"></p>
               <p class="hiconText">ACCOUNTS</p>
            </a>
            <a class="col"  href="#/app/profile">
                <p class="himgBox"><img ng-src="img/icons/profile.png"></p>
                <p class="hiconText">PROFILE</p>
            </a>
            <a class="col"  href="#/app/customers">
                <p class="himgBox"><img ng-src="img/icons/management.png"></p>
                <p class="hiconText">UTILITY</p>
            </a>
          </div>
    </ion-content>
  </ion-view>
  