<ion-view view-title="New Customer">
  <ion-content>
    <div class="row ">
      <div class="col">
        <p class="text-center add-photo">Add
          <br> Photo</p>
      </div>
      <div class="col col-75">
        <div class="list label-border-0">
          <label class="item item-input">
            <input type="text" placeholder="Contact Person">
          </label>
          <label class="item item-input">
            <input type="text" placeholder="Company Name">
          </label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col label-border-0">
        <label class="item item-input ">
          <input type="text" placeholder="Address Line 1">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Address Line 2">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="State">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Pincode">
        </label>

        <label class="item item-input">
          <input type="text" placeholder="Mobile Number">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Telephone Number">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Email">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="GST No">
        </label>
        <button class="button button-block button-positive">
                Add Customer
        </button>

      </div>
    </div>

  </ion-content>
</ion-view>
