<ion-view view-title="Sales List">
  <ion-content>
    <div class="list clist">
      <a class="item item-icon-right" ng-repeat="sale in salesList" href="#/app/customers/{{cust.cid}}">
        <div class="cinfo"  style="width:50%">
          <p><b>{{sale.company}}</b></p>
          <p>Total Items: {{sale.totalItems}}</p>
          <p>Sale Amount: {{sale.total}}</p>
        </div>
          <div class="cinfoLeft pull-right" style="width:40%">
          <p class="conein paidAmt">Paid : {{sale.paid}}</p>
          <p class="coneina balanceAmt">Balance: {{sale.balance}}</p>
        </div> 
        <i class="icon ion-ios-arrow-right"></i> 
      </a>
    </div>
  </ion-content>
</ion-view>
